<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftCarthage-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftCarthage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DC340711E070DFD0082C7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC340851E070DFD0082C7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC340901E070DFD0082C7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC340A91E070F240082C7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC340B11E070F240082C7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC340CC1E070F800082C7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC340D41E070F810082C7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
